.venueHeader {
    margin-left: 50px;
}

.venueMainWindow {
    margin-left: 50px;
    margin-right: 50px;
    background-color: gray;
    display: grid;
    height: 600px;
    grid-template-rows: 18% 8% 67% 5%;
    grid-template-columns: 5% 15% 15% 15% 15% 15% 15% 5%;
    grid-template-areas: 
    ". contactName contactName primaryPhone primaryPhone primaryEmail primaryEmail ."
    ". general event . . . . ."
    ". tab tab tab tab tab tab ."
    ". . . . . . . ."
    ;
}

.venueTabWindow {
    background-color: antiquewhite;
    grid-area: tab;
    overflow-y: auto;
}

.primaryName {
    grid-area: contactName;
}

.primaryPhone {
    grid-area: primaryPhone;
}

.primaryEmail {
    grid-area: primaryEmail;
}

.venueEventsTab {
    grid-area: event;
    border: 2px solid black;
}

.venueGeneralTab {
    grid-area: general;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#textfield {
    height: 10px;
}