.header {
    margin-left: 50px;
}

.mainWindow {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #469aef20;
    display: grid;
    height: 600px;
    grid-template-rows: 5% 10% 8% 71% 5%;
    grid-template-columns: 5% 15% 15% 15% 15% 30% 5%;
    grid-template-areas: 
    ". . . . . . ."
    ". main main main main main ."
    ". general travel financials programs . ."
    ". tab tab tab tab tab ."
    ". . . . . . ."
    ;
}

.tabWindow {
    background-color: white;
    grid-area: tab;
    overflow-y: auto;
}

.mainInfo {
    grid-area: main;
}

.generalTab {
    grid-area: general;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.travelTab {
    grid-area: travel;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.financialsTab {
    grid-area: financials;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.programsTab {
    grid-area: programs;
    border: 2px solid black;
}

.nobullet {
        list-style-type: none;
}

.tabButtonPosition {
    position: sticky;
    top: 500;
    float: right;
    margin-right: 2%;
    
}

h1 {
    border-bottom: solid 2px #EA7600;
    padding-bottom: 4px;
    width: 25vw;
}